<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<context:property-placeholder location="classpath:config/mail.properties" ignore-unresolvable="true"/>
	
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
	   <property name="host" value="${mail.host}"></property>
	   <property name="port" value="${mail.port}"></property>
	   <property name="javaMailProperties">
	       <props>
	          <prop key="mail.smtp.auth">true</prop>
	          <prop key="mail.smtp.timeout">5000</prop>
	          <prop key="mail.smtp.ssl.enable">true</prop>
	          <prop key="mail.smtp.socketFactory.port">${mail.port}</prop>
	          <prop key="mail.smtp.socketFactory.class">${mail.SocketFactory}</prop>
	       </props>
	   </property>
	   <property name="username" value="${mail.username}"></property>
	   <property name="password" value="${mail.password}"></property>
	</bean>
	
</beans>